NODE_ENV=development
PORT=5000

MONGODB_URI=mongodb://localhost:27017/ecommerce-backend
JWT_ACCESS_SECRET=change_this_access_secret
JWT_REFRESH_SECRET=change_this_refresh_secret

CLIENT_URL=http://localhost:3000

API_BASE_URL=http://localhost:5000
CLIENT_PAYMENT_SUCCESS_URL=http://localhost:3000/payment/success
CLIENT_PAYMENT_FAIL_URL=http://localhost:3000/payment/fail
CLIENT_PAYMENT_CANCEL_URL=http://localhost:3000/payment/cancel

SSLCOMMERZ_IS_LIVE=false
SSLCOMMERZ_STORE_ID=testbox
SSLCOMMERZ_STORE_PASSWORD=qwerty

AAMARPAY_IS_LIVE=false
AAMARPAY_STORE_ID=aamarpaytest
AAMARPAY_SIGNATURE_KEY=dbb74894e82415a2f7ff0ec3a97e4183

SHURJOPAY_IS_LIVE=false
SHURJOPAY_USERNAME=sp_sandbox
SHURJOPAY_PASSWORD=pyyk97hu&6u6
SHURJOPAY_PREFIX=sp


//================

COURIER_AUTO_BOOK_ON_APPROVAL=true
COURIER_DEFAULT_PROVIDER=STEADFAST

STEADFAST_API_BASE_URL=https://portal.packzy.com/api/v1
STEADFAST_API_KEY=your_steadfast_api_key
STEADFAST_SECRET_KEY=your_steadfast_secret_key

PATHAO_API_BASE_URL=https://api-hermes.pathao.com
PATHAO_CLIENT_ID=your_pathao_client_id
PATHAO_CLIENT_SECRET=your_pathao_client_secret
PATHAO_USERNAME=your_pathao_username
PATHAO_PASSWORD=your_pathao_password
PATHAO_STORE_ID=your_pathao_store_id

//notification 

NOTIFICATION_SMS_ENABLED=false
NOTIFICATION_EMAIL_ENABLED=false
NOTIFICATION_WHATSAPP_ENABLED=false

SMS_PROVIDER_NAME=GENERIC_SMS
SMS_API_BASE_URL=https://sms-provider-api-url.com
SMS_API_KEY=your_sms_api_key
SMS_SENDER_ID=your_sender_id

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password
SMTP_FROM_NAME=Your Shop
SMTP_FROM_EMAIL=your_email@gmail.com

WHATSAPP_PROVIDER_NAME=WHATSAPP_CLOUD
WHATSAPP_API_BASE_URL=https://graph.facebook.com/v20.0
WHATSAPP_PHONE_NUMBER_ID=your_phone_number_id
WHATSAPP_ACCESS_TOKEN=your_whatsapp_access_token